* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2C335;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr 1fr;
}

/* Main */
Main h1 {
  margin: 1rem 0;
  text-align: center;
}

main .my-photo{
  display: flex;
  justify-content: center;
}

main div img {
  margin: 1rem 0;
  width: 10rem;
  border-radius: 50%;
}

main .my-info p {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
}
