* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2C335;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Main */
main h1 {
  margin: 1rem 0;
  text-align: center;
}

main .my-photo{
  display: flex;
  justify-content: center;
}

main div img {
  margin: 1rem 0;
  width: 10rem;
  border-radius: 50%;
}

main .my-info p {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
}

main .about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .contact {
  padding: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

main .contact p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  main .contact {
    margin-top: 0;
  }

  main .my-info p,
  main .contact p {
    font-size: 1rem;
  }
}
