* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #BABDBF;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 10fr 1fr;

  background: #A1A4A6;
  height: 60px;
}

header nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav a {
  padding: 0 20px;
  text-decoration: none;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header div img {
  width: 3rem;
  margin-right: 20px;
  border-radius: 50%;
}

/* Body content */
.body-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15fr 1fr;
}

/* Main */
.big-boxes {
  background: #F2F2F2;
  height: 300px;

  margin: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0 0 2rem 2rem;

  justify-content: space-around;
}

.big-boxes div {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-bottom: -100px;
  height: 250px;
  width: 450px;
  border-radius: .5rem;

  background: #727273;
}

.content {
  height: 100vh;
}

.small-boxes {
  padding: 200px 0 150px 0;
  margin: auto;

  display: flex;
  justify-content: space-around;
}

.small-boxes div {
  background: #727273;
  height: 150px;
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

/* Footer */
footer {
  width: 100%;
  padding: 20px;
  position: relative;
  height: 80px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;

  background: #262626;
}

footer nav {
  display: none;
}

footer nav a {
  display: flex;
  justify-content: center;
  margin: 5px;
}

footer div {
  margin-top: 20px;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 1300px) {
  .big-boxes div {
    margin-bottom: -70px;
    height: 200px;
    width: 350px;
  }

  .small-boxes div {
    height: 130px;
    width: 230px;
  }
}

@media screen and (max-width: 1000px) {
  .big-boxes div {
    margin-bottom: -50px;
    height: 150px;
    width: 250px;
  }

  .small-boxes {
    width: 55vw;
    flex-wrap: wrap;
  }

  .small-boxes div {
    margin: 0 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .big-boxes {
    grid-template-columns: 1fr;
  }

  .big-boxes div:last-child {
    margin-bottom: -100px;
  }

  .small-boxes div {
    width: 200px;
    height: 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  header {
    grid-template-columns: 1fr;
  }

  header nav {
    display: none;
  }

  header div img {
    margin: 0;
  }

  footer nav {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .big-boxes div {
    margin-top: 70px;
    height: 100px;
    width: 200px;
  }
}