/* Footer */
footer {
  height: max(10vh, 70px);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  background: #F2F2F2;
}

footer div {
  margin: auto;
}

footer div img {
  width: 3rem;
}

footer div p {
  font-size: 1rem;
}