/* Button */
.button {
  padding: .2rem .5rem;
  margin: auto;
  background: #F2C335;
  border: none;
  border-radius: .2rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* Main */
main {
  height: max(90vh, 650px);
  width: min(95vw, 900px);
  margin: auto;

  background: #F27405;
}