main div h2,
main div p {
  text-align: center;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment > div {
  width: 40vw;
}

.comment button {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background: #ddd;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.comment button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgb(255, 31, 31);
}

.comment button img {
  width: 30px;
}