<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/about.css" />
    <link rel="stylesheet" href="/style/footer.css" />
    <link rel="stylesheet" href="/style/utils.css" />
    <title>About Me</title>
  </head>
  <body>
    <section class="container">
      <main>
        <h1>Carlos Santos</h1>
        <div class="my-photo">
          <img src="https://github.com/hartye.png" alt="Me" />
        </div>
        <div class="my-info">
          <p>I'm 16 years old</p>
          <p>I live in Portugal</p>
          <p>
            I have already made a few projects and some of them I'm very proud
            of
          </p>
          <p>If you want you can contact me at any time!</p>
          <p>I'm always on my Linkedin so fell free to talk!</p>
        </div>
      </main>
      <%- include('parts/footer') %>
    </section>
  </body>
</html>
