<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/contact.css" />
    <link rel="stylesheet" href="/style/footer.css" />
    <link rel="stylesheet" href="/style/utils.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/fonts.css" />
    <title>Contact</title>
  </head>
  <body>
    <main>
      <form method="post">
        <label for="email">Your name</label> <br />
        <input class="name" type="text" name="name" placeholder="Name" />
        <br />
        <label for="subject">Subject</label> <br />
        <textarea
          class="subject"
          name="subject"
          placeholder="Subject"
        ></textarea>
        <br />
        <button type="submit" class="button">Submit</button>
      </form>
    </main>
    <%- include('parts/footer') %>
  </body>
</html>
