<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/dashboard.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/about">About</a>
        <a href="contact">Contact</a>
        <a href="https://github.com/Hartye" target="__blank">Github</a>
        <a
          href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
          target="__blank"
          >LinkedIn</a
        >
      </nav>
      <div>
        <img src="https://github.com/hartye.png" alt="profile" />
      </div>
    </header>
    <section class="body-content">
      <main>
        <section class="big-boxes">
          <div>
            <a href="https://github.com/Hartye/dev.finances" target="_blank">
              <img src="/images/devFinances.png" alt="devFinances" />
            </a>
          </div>
          <div>
            <a href="https://github.com/Hartye/jobscalc" target="_blank">
              <img src="/images/jobsCalc.png" alt="jobsCalc" />
            </a>
          </div>
        </section>
        <section class="content">
          <div class="small-boxes">
            <div>
              <a href="https://hartye.github.io/Portfolio" target="_blank">
                <img src="/images/portfolio.png" alt="portfolio" />
              </a>
            </div>
            <div>
              <a
                href="https://github.com/Hartye/comments_on_db"
                target="_blank"
              >
                <img src="/images/coments.png" alt="comments" />
              </a>
            </div>
            <div>
              <a
                href="https://github.com/Hartye/filter_jokes_API"
                target="_blank"
              >
                <img src="/images/jokes.png" alt="jokes api" />
              </a>
            </div>
            <div>
              <a
                href="https://github.com/Hartye/sql_simple_crud"
                target="_blank"
              >
                <img src="/images/sql_simple_crud.png" alt="sql simple crud" />
              </a>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <nav>
          <a href="/about">About</a>
          <a href="contact">Contact</a>
          <a href="https://github.com/Hartye" target="__blank">Github</a>
          <a
            href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
            target="__blank"
            >LinkedIn</a
          >
        </nav>
        <div>
          <h4>&copy; 2021 Carlos Daniel</h4>
        </div>
      </footer>
    </section>
  </body>
</html>
