<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/dashboard.css" />
    <link rel="stylesheet" href="/style/fonts.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav class="nav-links">
        <a href="/about">
          <p>About</p>
        </a>
        <a href="contact">
          <p>Contact</p>
        </a>
        <a href="https://github.com/Hartye" target="__blank">
          <p>Github</p>
        </a>
        <a
          href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
          target="__blank"
        >
          <p>LinkedIn</p>
        </a>
      </nav>
      <div>
        <a href="https://github.com/hartye" target="_blank">
          <img src="https://github.com/hartye.png" alt="profile" />
        </a>
      </div>
    </header>
    <section class="body-content">
      <main>
        <div class="header-dashboard">
          <h1>Hi there, I'm Carlos</h1>
        </div>
        <section class="big-boxes">
          <div>
            <a href="https://github.com/Hartye/dev.finances" target="_blank">
              <img src="/images/devFinances.png" alt="devFinances" />
            </a>
          </div>
          <div>
            <a href="https://github.com/Hartye/jobscalc" target="_blank">
              <img src="/images/jobsCalc.png" alt="jobsCalc" />
            </a>
          </div>
        </section>
        <section class="content">
          <div class="small-boxes">
            <div>
              <a href="https://hartye.github.io/Portfolio" target="_blank">
                <img src="/images/portfolio.png" alt="portfolio" />
              </a>
            </div>
            <div>
              <a
                href="https://github.com/Hartye/comments_on_db"
                target="_blank"
              >
                <img src="/images/coments.png" alt="comments" />
              </a>
            </div>
            <div>
              <a
                href="https://github.com/Hartye/filter_jokes_API"
                target="_blank"
              >
                <img src="/images/jokes.png" alt="jokes api" />
              </a>
            </div>
            <div>
              <a
                href="https://github.com/Hartye/sql_simple_crud"
                target="_blank"
              >
                <img src="/images/sql_simple_crud.png" alt="sql simple crud" />
              </a>
            </div>
          </div>
          <div class="description">
            <div class="description-first-part">
              <img src="svg/bxl-rocket.svg" alt="Rocket" />
              <p>
                Currently a student that is passionate for what he does, always
                in need of more information about everything that surrounds the
                world of programming.
              </p>
            </div>
            <div class="description-second-part">
              <div class="ilustrations">
                <img src="svg/bxl-js.svg" alt="Javascript" />
                <img src="svg/bxl-css.svg" alt="Css" />
                <img src="svg/bxl-html.svg" alt="Html" />
              </div>
              <p>
                Lots of projects made with javascript, html, css and sql
                already, many mini projects and a very interesting bag of
                experience.
              </p>
            </div>
          </div>
        </section>
      </main>
      <aside class="float-github">
        <div>
          <button>
            <a
              href="https://github.com/Hartye"
              target="_blank"
              class="aside-icon"
            >
              <img src="svg/bxl-github.svg" alt="Github" />
            </a>
          </button>
        </div>
      </aside>
    </section>
    <footer>
      <nav>
        <a href="/about">About</a>
        <a href="contact">Contact</a>
        <a href="https://github.com/Hartye" target="__blank">Github</a>
        <a
          href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
          target="__blank"
          >LinkedIn</a
        >
      </nav>
      <div>
        <h4>&copy; 2021 Carlos Daniel</h4>
      </div>
    </footer>
  </body>
</html>
