<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/dashboard.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/about">About</a>
        <a href="contact">Contact</a>
        <a href="https://github.com/Hartye" target="__blank">Github</a>
        <a
          href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
          target="__blank"
          >LinkedIn</a
        >
      </nav>
      <div>
        <img src="https://github.com/hartye.png" alt="profile" />
      </div>
    </header>
    <section class="body-content">
      <main>
        <section class="big-boxes">
          <div>Dev.Finances</div>
          <div>JobsCalc</div>
        </section>
        <section class="content">
          <div class="small-boxes">
            <div>
              <h1>Project 1</h1>
            </div>
            <div>
              <h1>Project 2</h1>
            </div>
            <div>
              <h1>Project 3</h1>
            </div>
            <div>
              <h1>Project 4</h1>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <nav>
          <a href="/about">About</a>
          <a href="contact">Contact</a>
          <a href="https://github.com/Hartye" target="__blank">Github</a>
          <a
            href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
            target="__blank"
            >LinkedIn</a
          >
        </nav>
        <div>
          <h3>&copy; 2021 Carlos Daniel</h3>
        </div>
      </footer>
    </section>
  </body>
</html>
