<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/dashboard.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/about">About</a>
        <a href="contact">Contact</a>
        <a href="https://github.com/Hartye" target="__blank">Github</a>
        <a
          href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
          target="__blank"
          >LinkedIn</a
        >
      </nav>
    </header>
    <main>
      <section>
        <div>Dev.Finances</div>
        <div>JobsCalc</div>
      </section>
    </main>
  </body>
</html>
