<footer>
  <div class="back-page">
    <span class="button" onclick="history.back()">Back</span>
  </div>
  <div class="contact">
    <a href="https://github.com/Hartye" target="_blank"
      ><img src="/svg/bxl-github.svg" alt="Github"
    /></a>
    <a
      href="https://www.linkedin.com/in/carlos-daniel-274a55219/"
      target="_blank"
      ><img src="/svg/bxl-linkedin.svg" alt="Linkedin"
    /></a>
  </div>
  <div class="copy">
    <p>&copy; 2021 Carlos Santos</p>
  </div>
</footer>
